* {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html {
  font-size: 62.5%;
  box-sizing: border-box;
}

body {
  background-image: url('./img/anime-girl-brown-hair-cute-wallpaper.jpg');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  font-family: system-ui;
  color: #555;
  background-color: #f7f7f7;
  min-height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

.container {
  display: flex;
  flex-flow: column;
  align-items: center;
}

.quotes {
  margin-bottom: 8rem;
  display: flex;

  font-size: 2rem;
  opacity: 0;
  transition: opacity 1s;
}

.quote {
  background-color: #fff;
  box-shadow: 0 2rem 5rem 1rem rgba(0, 0, 0, 0.1);
  font-size: 1.8rem;
  width: 30rem;
  border-radius: 0.7rem;
  margin: 0 3rem;
  /* overflow: hidden; */
}

.quote__data {
  padding: 2.5rem 3.75rem 3rem 3.75rem;
  overflow-y: scroll;
  height: 40rem;
}

.character-name {
  font-size: 2.7rem;
  margin-bottom: 0.7rem;
}

.character-anime {
  font-size: 1.4rem;
  margin-bottom: 2.5rem;
  text-transform: uppercase;
  color: #888;
}

.character-quote:not(:last-child) {
  margin-bottom: 1rem;
}

.character-quote span {
  display: inline-block;
  margin-right: 2rem;
  font-size: 2.4rem;
}

.btn-search {
  border: none;
  font-size: 2rem;
  padding: 2rem 5rem;
  border-radius: 0.7rem;
  color: white;
  background-color: orangered;
  cursor: pointer;
}

.text-area {
  border: none;
  font-size: 2rem;
  padding: 2rem 5rem;
  border-radius: 0.7rem;
  cursor: pointer;
  margin-bottom: 2rem;
}
